body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}
title{
    text-align: center;
}